/* * {
    border: 1px solid red;
} */

html, body {
    font-family: 'Montserrat', sans-serif;
}

.about-me {
    margin-top: 60px;
}

.about-me p {
    font-size: 0.9rem;
}


.show {
    display: none;
}



@media screen and (max-width: 500px){ 
    .show {
        display: block;
    }
}

p {
    line-height: 26px;

}

img {
    vertical-align: middle;
}

