* {
    border: 1px solid red;
}

.about-me {
    margin-top: 60px;
}

.text{
    border-top: 1px solid black;
}

.show {
    display:none;
}


@media screen and (max-width: 500px){ 
    .show {
        display: block;
    }
}
