html, body {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url(../images/background-body.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(44, 53, 169);
}

.container {
    margin-top: 70px;
    margin-bottom: 150px;
    width: 85%;
}

.main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 20px;
    margin-top: 150px;
}

.portfolio-html .main {
    margin-top: 250px;
}

.contact-html .main {
    margin-top: 180px;
}

nav .container {
    margin: 0;
    width: 85%;
    padding: 0;
}

.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
}

h1 {
    font-size: 1.8rem;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(44, 53, 169);
}

p {
    line-height: 32px;
    font-size: 1.0rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: rgb(44, 53, 169);
}

.about-me-html img {
    padding: 0 2% 4% 0;

}

.footer {
    background-color: #666666;
    line-height: 40px;
    height: 45px;
    border-top: 6px solid rgb(44, 53, 169)3;
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.796);
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: visible;
    z-index: 1;
    margin-top: 40px;
}

#footer {
    float: none;
}

.contact-html p {
    padding: 10px 0;
}

.contact-html h1{
    margin-bottom: 25px;
}



@media screen and (max-width: 991px){ 
    h1 {
        text-align: center;
    }

    .contact-html p{
        text-align: left;
    }

    .about-me-html img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    p {
        font-size: 0.9rem;
        text-align: center;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px){ 
    p {
        font-size: 1rem;
        line-height: 28px;
    }

    .contact-html img {
        padding: 0;
    }
}

.card:hover
{
	
		-moz-box-shadow: 0 0 25px rgb(43, 24, 24);
		-webkit-box-shadow: 0 0 25px rgb(43, 24, 24);
		box-shadow: 0 0 25px rgb(43, 24, 24);
	
}

.card-title {
    margin: 0;
}

.btn {
    margin: 20px;
}