html, body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-top: 35px;
    margin-bottom: 150px;
    width: 85%;
}

nav .container {
    margin: 0;
    width: 85%;
    padding: 0;
}

h1 {
    font-size: 2rem;
    padding-bottom: 15px;
    margin-bottom: 45px;
    border-bottom: 1px solid black;
}

p {
    line-height: 30px;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    
}

.about-me-html img {
    padding: 0 2% 4% 0;

}

.footer {
    background-color: #666666;
    line-height: 40px;
    height: 45px;
    border-top: 6px solid #4aaaa5;
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.796);
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: visible;
    z-index: 99;
    margin-top: 40px;
}

#footer {
    float: none;
}

.contact-html p {
    padding: 10px 0;
}

.contact-html h1{
    margin-bottom: 25px;
}



@media screen and (max-width: 991px){ 
    h1 {
        text-align: center;
    }

    .contact-html p{
        text-align: left;
    }

    .about-me-html img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    p {
        font-size: 0.9rem;
        text-align: center;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px){ 
    p {
        font-size: 1rem;
        line-height: 28px;
    }

    .contact-html img {
        padding: 0;
    }
}

.card:hover
{
	
		-moz-box-shadow: 0 0 50px #ccc;
		-webkit-box-shadow: 0 0 50px #ccc;
		box-shadow: 0 0 50px rgb(43, 24, 24);
	
}

.card-title {
    margin: 0;
}