html, body {
    
    
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

body {
    background: url(../images/background-body.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(38, 72, 117);
}



.main {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 150px;
}

/* .about-me-html .main {
    margin-top: 100px;
}

.contact-html .main {
    margin-top: 80px;
} */

nav .container {
    margin: 0;
    width: 85%;
    padding: 0;
}

.navbar {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(1, 89, 250);
    opacity: 0.9;
}

.navbar-brand {
    font-size: 1.50rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-brand {
    color: rgb(38, 72, 117);
    letter-spacing: 10px;
}

.navbar-toggler-icon {
    height: 0.2em;
    width: 0.2em;
}

h1 {
    font-size: 1.4rem;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color:rgb(38, 72, 117);
    border-bottom: 1px solid rgb(38, 72, 117);
    letter-spacing: 1px;
}

p {
    line-height: 34px;
    font-size: 0.95rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: rgb(38, 72, 117);
}

.img-fluid {
    border-radius: 15px;
}

.footer {
    /* background-color: rgb(1, 89, 250); */
    line-height: 35px;
    height: 40px;
    /* border-top: 4px solid  rgba(255, 255, 255, 0.8); */
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
    background-color: rgba(255, 255, 255, 0.796);
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: visible;
    z-index: 1;
    margin-top: 40px;
    opacity: 0.9;
}

#footer {
    float: none;
}

.contact-html p {
    padding: 10px 0;
}

.contact-html h1{
    margin-bottom: 25px;
}


/* @media screen and (max-width: 670px) {
    .container {
        width: 100%;
    }
} */

@media screen and (max-width: 991px){ 
    h1 {
        text-align: center;
    }

    .contact-html p{
        text-align: left;
    }

    .about-me-html img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        max-height: 250px;
    }

    p {
        font-size: 0.95rem;
        text-align: center;
    }

    .container {
        width: 70%;
    }

    .navbar-brand {
        font-size: 1.25rem;
        font-weight: 600;
    }

    body {
        background: url(../images/background-body.jpg);
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
        background-attachment: fixed;
        color: rgb(0, 122, 255);
    }

    img.img-fluid {
        border-radius: 15px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px){ 
    p {
        font-size: 0.95rem;
        line-height: 30px;
    }

    .contact-html img {
        padding: 0;
    }

}

.card:hover
{
	
		-moz-box-shadow: 0 0 25px rgb(62, 129, 220);
		-webkit-box-shadow: 0 0 25px rgb(62, 129, 220);
		box-shadow: 0 0 25px rgb(62, 129, 220);
	
}

.card-title {
    margin: 0;

}





h5 {
    font-size: 1rem;
    color: rgb(38, 72, 117);
}

.navbar-light .navbar-nav .nav-link {
    color:rgb(38, 72, 117);
}

.btn-primary {
    color: #fff;
    background-color: rgb(38, 72, 117);
    border-color: rgb(38, 72, 117);
}

.centered {
    text-align: center;
    padding-top: 10px;
}